/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */
html {
   background-color: #dfdfdf;
}

body {
   background-color: white;
   font-family: Roboto;
}




/* ===========================================
      Menu
      =========================================== */


nav a:hover {

   background-color: #B52025;
   text-decoration: underline;

}

nav {

   list-style: none;
   margin: 2%;
   padding: 3%;
}

nav ul {
   display: inline-flex;
   list-style: none;
   margin: 10px;
   padding: 10px;
}

nav a {
   color: black;
   padding: 0.2cm;
   text-decoration: none;

}

/* ===========================================
      Banner
      =========================================== */

#banner {
   background-image: url(../img/home_section_thumb3.jpg);
   background-size: cover;
   border-style: solid;
   border-color: #b52025;
   border-width: 5px;

}

#banner p {
   background-color: black;
   color: white;
   opacity: 0.7;
}


/* ===========================================
      Main
      =========================================== */

.minibanner {
   border-style: groove;
   border-width: medium;
}

.more a {
   border: 2px solid;
   border-radius: 15%;
   color: #B52025;
   padding: 2%;
   margin: 1%;
   text-decoration: none;


}

.more {
   text-align: right;

}

#email {
   background-color: #E2C7C8;

}

h3 {
   color: #B52025;
   text-transform: uppercase;

}

/* ===========================================
      Footer
      =========================================== */

footer {
   text-align: center;

}